.header {
    background-color: #3498db;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  .header h1 {
    font-size: 40px;
    margin: 30;
  }
  
  .header p {
    margin: 5px 0 0;
  }

  